$green:#579c87;
$yellow:#FDCB46;

$box-shadow-menus:#a2a5a4;
$note-menu-color:#FCDFDB;

$color-font-note: #3d1319;

$background-chic:#FFF5FE;

$background-papilles:#EDEFEF;
$color_choix_1:#0228DC;
$color_choix_2:#0670F2;
$color_choix_3:#259EF8;

$background-gout:#FDFFFD;

$border-menus:#D5D6D5;
$font-page-menus:#353535;