/*font header*/
@font-face {
    font-family: 'excite';
    src: url("./fonts/EXCIB___.ttf") ;
}

/*font footer */
@font-face {
    font-family: 'sinkin';
    src: url("./fonts/SinkinSans-400Regular.otf") ;
}

/*font menu note enchantée */
@font-face{
    font-family:'devon';
    src:url("./fonts/Devonshire-Regular.ttf") ;
}
@font-face{
    font-family: 'kalam';
    src: url("./fonts/Kalam-Regular.ttf") ;
}

@font-face{
    font-family:'cousine';
    src: url("./fonts/Cousine-Regular.ttf");
}

/*font menu chic à la française */
@font-face{
    font-family: 'nimbus';
    src: url("./fonts/NimbusRomNo9L-Reg.otf") ;
}
@font-face{
    font-family: 'croissant';
    src: url("./fonts/CroissantOne-Regular.ttf") ;
}

/* font menu le délice des papilles */
@font-face{
    font-family: 'dancing';
    src: url("./fonts/DancingScript-Regular.otf") ;
}

/*font menu la palette du gout */
@font-face{
    font-family: 'kaushan';
    src: url("./fonts/KaushanScript-Regular.otf") ;
}

