@mixin reset
{
    *
        {
            margin:0;
            
            padding:0;
           
            width:auto;
            text-decoration: none;
        }
    li , ul
        {
            list-style-type: none
        }
}